---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Frontend Mentor | Skilled e-learning landing page",
  description = " Frontend Mentor challenges help you improve your coding skills by building realistic projects.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <!-- GG Fonts "Plus Jakarta Sans" -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
  }

  html {
    hanging-punctuation: first last;
  }

  body {
    min-height: 100svh;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
  }

  img,
  picture,
  svg,
  video {
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    max-width: 75ch;
    text-wrap: pretty;
  } */

  @media (prefers-reduced-motion: no-preference) {
    :has(:target) {
      scroll-behavior: smooth;
      scroll-padding-top: 3rem;
    }
  }
</style>
